<div align="center" class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h1>Bienvenido <br>
  
  <p class="lead">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img src="resources/bootstrap.png" class="img-responsive" alt="I'm Bootstrap">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img src="resources/angularjs.png" class="img-responsive" alt="I'm AngularJS">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img src="resources/eclipse.png" class="img-responsive" alt="I'm Eclipse">
    </div>
    <br><br>
    <h2>Frontend + Backend.</h2>
  </p>
</div>
